body{
    margin:30px;
    background-color: lightblue;
}
.logo{
    text-decoration-style: double;
    font-size: 40px ;
    font-family: a도깨비;
}
a:link{
    text-decoration: none;
}
.search{
    float: right;
}
.search_input{

}
.search_button{
    position: relative;
    top:10px;
    width:30px;
    height:30px;
    border: none;
    cursor: pointer;
    background: white;
}
.search_img{
    position: relative;
    left:-10px;
    top:-5px;
    width:35px;
    height:35px;
    border:none;
}
.register_title{
    text-align: center;
    font-family: a옛날사진관3;
    font-size: 30px;
    padding-top: 30px;
}
.title_text{
    font-size: 20px;
    width:80%;
    height:30px;
    position: absolute;
    left:11.5%;
    top:30%
}
.content_text{
    font-size: 20px;
    width:80%;
    height:400px;
    margin:10px;
    position: absolute;
    left:10%;
    top:35%;
}
.register_btn{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    width:60px;
    height:30px;
    border:none;
    background-color: steelblue;
    position: absolute;
    bottom:50px;
    right:160px;
}
.cancel_btn{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    width:60px;
    height:30px;
    border:none;
    background-color: steelblue;
    position: absolute;
    bottom:50px;
    right:70px;
}